# Logs
logs/

# Saved states
src/HPC/
src/main2.jl
src/main3.jl
src/submit_args.sh
src/submit.sh

saved_states/
large_strand/
slurm/
src/large_strand/
# Temporary job files
*.temp

# Build artifacts
build/
*.o
*.so

# Julia package environments
Manifest.toml
Project.toml

# Plots
plots/

#patches
patches/
figs/
data/